<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p>{{>header}}</p>
<h1>Welcome , This Site was created by Ayushi Gandhi  </h1>
<h3> This weather app is created with Node.js. This app is using api data from wheatherstack.com with limited requests :)</h3>

</body>
</html>
