<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p>{{>header}}</p>

<img src="images/bg1.jpeg" height="300px" width="400px">
</body>
</html>
