<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">

    <title>Weather</title>
</head>
<body>
<p>{{>header}}</p>
<img src="images/bg3.jpeg" height="300px" width="400px">
</body>
</html>
